<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Renderizando Listas</title>
</head>
<body>

  <main>
    <h1><strong>Matriz</strong> Días de la semana </h1>
    <ul>
      <li v-for="dia in dias">{{dia}}</li>
    </ul>
    <h2><strong>Matriz de Objetos (Collection)</strong> Tares</h2>
    <ul>
      <li v-for="(tarea, index) in tareas">{{index}} - {{tarea.nombre}} - <small>Prioridad: {{tarea.prioridad}}</small></li>
    </ul>
    <h3><strong>Objeto</strong> Vehiculo</h3>
    <ul>
      <li v-for="(value, key, index) in vehiculo"> {{ index }}. {{ key }}: {{ value }} </li>
    </ul>
    <blockquote>Permite mostrar una lista de un matriz de objetos</blockquote>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>