<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Filtros</title>
</head>
<body>
  
  <main>
    <ul>
      <h3>Juegos</h3>
      <li v-for="juego in juegos"> {{juego.titulo}} <span> {{juego.puntuacion}} </span> <strong> {{juego.genero}} </strong></li>
    </ul>
    <ul>
      <h3>Mejores Juegos</h3>
      <li v-for="juego in mejoresJuegos">  {{juego.titulo}} <span> {{juego.puntuacion}} </span> <strong> {{juego.genero}} </strong> </li>
    </ul>
    <input type="range" min="0" max="10" v-model="minimo">
    <ul>
      <h3>Buscar Juego</h3>
      <input type="search" v-model="busqueda" placeholder="Buscar por nombre">
      <li v-for="juego in buscarJuego">  {{juego.titulo}} <span> {{juego.puntuacion}} </span> <strong> {{juego.genero}} </strong> </li>
      <br>
      <input type="search" v-model="busquedaGenero" placeholder="Buscar por genero">
      <li v-for="juego in buscarJuegoPorGenero">  {{juego.titulo}} <span> {{juego.puntuacion}} </span> <strong> {{juego.genero}} </strong> </li>      
    </ul>
  </main>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>