<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Eventos</title>
</head>

<body>

  <main>
    <h1 eventos=""></h1>
    <ul>
      <li v-for="tarea in tareas"> {{tarea}} </li>
    </ul>
    <input type="text" placeholder="Ingresa tu tarea" v-model="nuevaTarea">
    <input type="button" value="Guardar" v-on:click="agregarTarea()">
    <blockquote>Permite modificar un modelo mediante las directivas de Vue en los input</blockquote>

    <form v-on:submit.prevent="agregarTarea()">
      <input type="text" placeholder="Ingresa tu tarea" v-model="nuevaTarea">
      <input type="submit" value="Guardar">
    </form>

    <blockquote>Permite modificar un modelo mediante las directivas de Vue directamente en la etiqueta de fomr</blockquote>

  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>

</html>